body { font-family: "微软雅黑"; margin: 0; padding: 0; font-size: 16px; background-color:#3C3D3D; color:#fff;} 
/*
image-rendering:  auto | inherit | optimizeSpeed | optimizeQuality | -moz-crisp-edges | -o-crisp-edges
 */

/* CSS Reset */
ul { margin:0; padding:0; }
li, p { margin:0; padding:0; }
a { text-decoration: none; color: #333; }
img { border: none; margin:0; padding:0; }
h1, h2 { padding:0; margin: 0; font-weight:normal; }
/* Common Styles */
div.center-column { margin: 0 auto; }
.clear { clear: both; }
dd{ margin:0;}
/*header */


.main { margin:0; }
.msg {margin:10px 0 0 10px;text-align:center;}
.txt { font-weight:bold; margin:20px 0 10px 0; line-height:26px; text-align:left;}
dl { margin:5px 0 0px 10; text-align:center;}
.img {text-align:center; text-indent:0px; margin-bottom:15px;}